/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;

}
body {
  line-height: 1;

}
ol, ul {
  list-style: none;

}
blockquote, q {
  quotes: none;

}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;

}
table {
  border-collapse: collapse;
  border-spacing: 0;

}


/* 
 *
 * Reset End 
 * 
 */

/*
 * Mobile 
 */

html {
  width: 100%;
}

/*
 * General Position
 */
nav, header, section, footer {
  text-align: center;
  margin: 5% auto;
}

li {
  display: inline-block;
  margin-left: 1%;
}

h2 {
  margin: 5%;
}

/* 
 * Element Specific Positon
 */
.email, .features li {
  margin-top: 1%;
}

nav {
  margin-top: .5%;
  margin-bottom: .35%;
}

span {
  display: inline-block;

  width: 45%;
}

nav a {
  margin-right: 20%;
}

.nav-button {
  margin-left: 20%;
}


header {
  margin-top: .25%;
}

header h1 {
  padding-top: 8%;
  padding-bottom: 1%;
}

header form {
  padding-bottom: 13%;
}

.background-secondary {
  padding-top: 4%;
  padding-bottom: 4%;

  margin-top: 0;
  margin-bottom: 1%;
}

.background-secondary h2 {
  margin: 0;
}

.icon-features li {
  width: 33%;

  vertical-align: top;

  text-align: center;
  margin: 0;
  margin-bottom: 2%;
}

.icon-features img {
  width: 15%;
}

.icon-features p {
  display: inline-block;

  padding: 0 10%;
}

.features li {
  width: 100%;

  overflow: hidden;
  margin: 0;
  margin-bottom: -0.1%;
}

.features div,
.features img {
  display: inline-block;

  padding: 2.5%;
  vertical-align: middle;
}

.features div {
  width: 39.8%;
}

.features img {
  width: 45%;

  margin: -5% 0;
}


.testimony li {
  width: 25%;

  vertical-align: top;
  margin: 0;
}

.testimony img {
  margin-bottom: 5%;
}

.testimony h4 {
  margin: 2% 0;
}

.testimony blockquote {
  padding: 0 25%;
}


footer {
  margin-top: 1%;
  margin-bottom: 1%;
}

footer ul {
  display: inline-block;
  height: 50%;
  width: 40%;

  vertical-align: middle;
}

small {
  display: block;
  margin-top: .5%;

  text-align: center;
}



/*
 * General Typography
 */

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;

  letter-spacing: .1em
}

h2 {
  font-size: 200%;
  font-weight: 900;
}

a {
 text-decoration: none; 
}

a:hover {
  text-decoration: underline;
  font-weight: 700;
}

footer {
  font-size: 75%;
}

/*
 * Element Specific Typography
 */

nav a {
  font-size: 120%;
}

nav a:hover {
  text-decoration: none;
}

h1 {
  font-weight: 900;
  font-size: 300%;
}

h2, h4 {
  font-weight: 700;

  font-size: 150%;
}

blockquote {
  font-weight: 400;
  font-style: italic;

  font-size: 110%;
}

small {
  font-weight: 300;
}

.icon-features {
  font-size: 150%;
  line-height: 115%;
}

.icon-features img:hover {
  transform: scale(1.2);
}

.features {
  font-size: 125%;

  line-height: 150%;
}

/*
 * General Color
 */

body {
  background-color: #F5F5F5;
}

/*
 * Element Specific Color
 */

a {
  color: #424242;
}

body {
  color: #616161;
}

.features {
  background-color: #FFF;
}


/*
 * General Button Style
 */

button {
  color: #FFF;
  background-color: #0288D1;
  font-size: 130%;

  padding: .5% 1.5%;

  /*width: 5%;*/
  border: none;

  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  border-radius: 5%;

  transition-duration: .2s;
}

button:hover {
  background-color: #01579B;

  transform: scale(1.1);
}

/*
 * Specific Button styles
 */

.nav-button {
  font-size: 90%;

  padding: .7% 5%;
}

/*
 * Forms
 */

input {
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  border-radius: 5%;
    
  width: 20%;

  border-style: solid;
  border-color: #0288D1;

  font-size: 110%;

  padding: .5%;
}

input:focus {
  border-color: #01579B;
}

/* 
 * Images
 */

.background {
  background-image: url("../images/erol-ahmed-186962-unsplash.jpg");
  background-position: 0 35%;
}

.background-secondary {
  background-position: 0 37%;
}

.testimony img {
  border-radius: 50%;
  width: 30%;
}

/*
 * Social Media
 */
.social-media li {
  width: 4%;

  transition-duration: .2s;
}

.social-media li:hover {
  transform: scale(1.5);
}

